<nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
        Blocbit
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if user %}
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Concept <span class="caret"></span></a>
            <div class="dropdown-menu">
              <form action="/newimage" method="POST">
                <input type="text" class="form-control" name="image_url" placeholder="Image URL" />
                <input type="text" class="form-control" name="image_text" placeholder="Text" />
                <button type="submit" class="btn btn-primary btn-block">Add</button>
              </form>
            </div>
          </li>
        </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if user %}
          <li {% if title=='My Concepts' %} class="active"{% endif %}>
            <a href="/myconcepts">
              <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
              {% if title=='My Concepts' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
		  	<li {% if title=='Peers' %} class="active"{% endif %}>
          <a href="/network">
            <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
            {% if title=='Peers' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
          <li>
            <a href="/node"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></a>
          </li>
        {% else %}
          <li {% if title=='Activate' %} class="active"{% endif %}>
            <a href="#" @click="onLoadBallot">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              {% if title=='Activate' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
