<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blocbit</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/yeti/bootstrap.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>
<!-- Head -->
<body>
    <!-- NavBar-->
    <nav class="navbar navbar-inverse navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                  Blocbit
                </a>
              </div>
          
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </a>
                  </li>
                    <li>
                      <a href="/node"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
<!-- NavBar-->
<!-- Body-->
    <div id="app">
        <div class="container">
            <div v-if="error" class="alert alert-danger" role="alert" style="word-wrap: break-word;">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert" style="word-wrap: break-word;">
                {{ success }}
            </div>
            <div class="row">
                <div class="col">
                    <form @submit.prevent="onAddNode">
                        <div class="form-group">
                            <label for="node-url">Node URL</label>
                            <input v-model="newNodeUrl" type="text" class="form-control" id="node-url" placeholder="localhost:5001">
                        </div>
                        <button :disabled="newNodeUrl.trim() === ''" type="submit" class="btn btn-white">Add</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row my-3">
                <div class="col">
                    <button class="btn btn-white" @click="onLoadNodes">Load Peer Nodes</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <button v-for="node in nodes" style="cursor: pointer;" class="list-group-item list-group-item-action" @click="onRemoveNode(node)">
                            {{ node }} (click to delete)
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script
	  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	  crossorigin="anonymous"></script>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
	<script src="/static/js/main.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                nodes: [],
                newNodeUrl: '',
                error: null,
                success: null
            },
            methods: {
                onAddNode: function () {
                    // Add node as peer node to local node server
                    var vm = this;
                    axios.post('/node', { node: this.newNodeUrl })
                        .then(function (response) {
                            vm.success = 'Stored node successfully.';
                            vm.error = null;
                            vm.nodes = response.data.all_nodes
                        })
                        .catch(function (error) {
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                },
                onLoadNodes: function () {
                    // Load all peer nodes of the local node server
                    var vm = this;
                    axios.get('/nodes')
                        .then(function (response) {
                            vm.success = 'Fetched nodes successfully.';
                            vm.error = null;
                            vm.nodes = response.data.all_nodes
                        })
                        .catch(function (error) {
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                },
                onRemoveNode: function (node_url) {
                    // Remove node as a peer node
                    var vm = this;
                    axios.delete('/node/' + node_url)
                        .then(function (response) {
                            vm.success = 'Deleted node successfully.';
                            vm.error = null;
                            vm.nodes = response.data.all_nodes
                        })
                        .catch(function (error) {
                            vm.success = null;
                            vm.error = error.response.data.message;
                        });
                }
            }
        })
    </script>
</body>

</html>